.cards{
    display: flex;
    justify-content: center;

    &__item {
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 360px;
        height: 490px;
        margin: 40px 10px;
        padding: 20px;
        border-radius: 8px;
        background: var(--color-dark);
        color: var(--color-light-h);

        &-pict{
            width: 100%;
            border-radius: 8px;
        }

        &-pict:hover{
            scale: 1.1;
            transition: var(--transition-duration);
        }

        &-header{
            display: flex;

            &__name {
                width: 284px;
                height: 36px;
                margin: 0;
                font-size: 24px;
                font-weight: 600;
                color: var(--color-light-h);

                &--height {
                    height: 72px;
                }
            }


            &__place {
                font-size: 18px;
                margin: 0;
                width: 36px;
                height: 32px;

                &--green{
                    color: var(--color-green);
                }

                &--gold{
                    color:var(--color-gold);
                }

                &--blue{
                    color: var(--color-blue);
                }
            }

            &__descriptor {
                display: flex;
                font-weight: normal;
                align-items: center;
                text-align: left;
                margin: 0;
                width: 319px;
                height: 123px;
                font-size: 16px;
                color: var(--color-grey);
            }

        }

        &-footer {
            display: flex;
            width: 100%;
            line-height: 1.6;

            &__actor {
                display: flex;
                align-items: center;
                width: auto;
                height: 33px;
                border-radius: 4px;
                padding: 0 15px;
                margin: 0 15px 0 0;
                font-size: 16px;
                background-color: var(--color-light-alt);
                color: var(--color-dark);
            }

            &__year {
                display: flex;
                height: 33px;
                width: auto;
                padding: 0 15px;
                align-items: center;
                border-radius: 4px;
                font-size: 16px;
                background-color: var(--color-light-alt);
                color: var(--color-dark);
            }
        }
    }
}














.card .back-to-home{
    height: 72px;
}