.footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    height: 200px;
    color: var(--color-light);
    background-color: var(--color-dark);

    &__container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1240px;
    }

    &__contacts,
    &__social {
        flex: 1;
        text-align: center; 
        width: 620px;
        height: 160px;

        &-link{
            color: var(--color-light);
            margin: 10px 0;
        }
    }

    &__header {
        font-size: 40px;
    }

    &__copyright {
        text-align: center;
        font-size: 24px;
        height: 40px;
        width: 100%;
    }
}