.heading{
    height: 80px;
    text-align: center;
    margin-bottom: var(--section-margin-y)/2;
    background:rgba(245, 1, 1, 0.5);
    
    &__first{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 36px;
        font-weight: 600;
        color: var(--color-light);

        &--full{
            height: 80px;

            &-first{
                margin-top: 20px;
            }
        }
    }

    &__second{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        font-size: 18px;
        font-weight: normal;
        color: var(--color-light);
    }  
}
