.header {
    @include flex-center(false);

    height: 72px;
    position: relative;
    background-color: var(--color-dark);

    &__inner {
        @include flex-center(true);
        column-gap: 16.5px;
    }

    &__menu{
        font-size: 24px;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 20px;
            width: 1190px;
            height: 72px;
        }
            
        &-item{
            margin: 18px 20px;
            width: 190px;
            height: 36px;
            border-radius: var(--border-radius-menu);
            background: var(--color-light);

            &-left{
                border-radius: var(--border-radius-menu-left);
            }

            &-left:hover{
                background: var(--color-accent);
                transition: var(--transition-duration);
                scale: 1.1;
            }

            &-right{
                border-radius: var(--border-radius-menu-right);
            }

            &-right:hover{
                background: var(--color-accent);
                transition: var(--transition-duration);
                scale: 1.1;

            }
        }

        &-link{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 36px;
        }

        &-link:hover{
            color: var(--color-light);
        }

        
        &-logo{
            width: 190px;
            height: 72px;
            
            &-link{
                width: 190px;
                height: 72px;
            }
        }
    }

    &__button{
        position: absolute;
        z-index: 1;
        margin-left: 1310px;
        width: 60px;
        height: 60px;
        border-radius: var(--border-radius-profile);    
    } 

    &__button:hover{
        background-color: var(--color-accent);
        border-radius: 0; 
        scale: 1.2;
    }

}

.logo__image:hover{
    scale: 1.1;
    transform: rotate(180deg);
    transition: 1s;
}
