.history {
    display: flex;
    margin: 40px auto;
    padding: 40px;
    height: 520px;
    border-radius: 40px;
    background-color: var(--color-dark);

    &__left{
        @include flex-center;

        flex-direction: column;
    }

    &__group{

        &--top{
            width: 420px;
            height: 140px;
            margin-bottom: 40px;
        }

        &--center{
            width: 390px;
            height: 140px;
            margin-bottom: 40px;
        }

        &--bottom{
            margin-left: 40px;
            width: 390px;
            height: 80px;
        }
    }

    &__header{

        &--top{
            @include flex-center;

            margin-left: 60px;
            width: 360px;
            height: 40px;
            background-color:  var(--color-light-h);
        }

        &--center{
            @include flex-center;

            margin-left: -15px;
            width: 360px;
            height: 40px;
            background-color: var(--color-light-h);
        }

        &--bottom{
            @include flex-center;

            width: 360px;
            height: 40px;
            background-color: var(--color-light-h);
        }

        &-content{
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            color: #475E69;
        }

    }

    &__descriptor{

        &--top{
            width: 360px;
            height: 100px;
            padding: 0 10px;
            background-color: var(--color-main);
        }

        &--center{
            margin-left: 20px;
            padding: 0 10px;
            width: 360px;
            height: 100px;
            background-color: var(--color-main);
        }

        &--bottom{
            margin-left: 30px;
            padding: 0 10px;
            width: 360px;
            height: 40px;
            line-height: 1.3;
            background-color: var(--color-main);
        }

        &-content{
            padding-top: 5px;
            font-size: 16px;
            font-weight: 500;
            color:  var(--color-light);

            &--bottom{
                padding-top: 0
            }
        }
    }


    &__around{
        @include flex-center;

        margin: 40px 0;
        width: 350px;
        height: 350px;
        background-color: var(--color-light);
        border-radius: 2000px;
    }

    &__wrapper{
        @include flex-center;

        width: 220px;
        height: 400px;
        background-color: var(--color-light);
    }

    &__right{
        @include flex-center;

        flex-direction: column;

        .history__header{

            &--top{
                margin: 0;
            }

            &--center{
                margin-left: 45px;
            }

            &--bottom{
                margin-left: -10px;
            }
        }

        .history__descriptor{

            &--top{
                margin-left: 60px;
            }

            &--center{
                margin-left: 10px;
            }

            &--bottom{
                margin-left: -40px;
            }
        }
    }
}