
.screensaver{
    position: relative;
    display: flex;
    
    @include flex-center(false);

    &__body{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        height: 720px;
        z-index: 1;
    }

    &__name{
        position: absolute;
        top: 335px;
        left: 88px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        color: var(--color-grey-light);

        &--gray{
            color: var(--color-main);
        }

        &--black{
            color: var(--color-dark);
        }
    }

    &__group{

        &--main{
            text-align: right;
            padding-top: 80px;
        }

        &-role{
            margin: 0 0 20px auto; 
            width: max-content; 
            height: 30px;
            font-size: 18px;
            letter-spacing: 2px;
            padding: 0 5px;
            background-color: var(--color-accent);
            color: var(--color-grey-light);
        }

        &-heading{
            margin: 0;
            text-align: right;
            line-height: 1.2;
            font-weight: 800;
            font-size: 80px;
            color: var(--color-light);

            &--right{
                margin: 0;
                text-align: right;
                line-height: 1.2;
                font-weight: 800;
                font-size: 80px;
                color: var(--color-light);
            }

            &--center{
                font-weight: 600;
                font-size: 20px;
                text-align: center;
                color: var(--color-light);
            }
        }

        &-descriptor{
            margin: 0 0 33px auto;
            width: 540px;
            letter-spacing: 1px;
            line-height: 1.5;
            text-align: right;
            font-weight: 400;
            font-size: 18px;
            color: var(--color-grey-light);
        }

        &--gallery{
            margin: 66px 0 0 auto;
            width: 464px;
        }
    }

    &__gallery{
        display: flex;
        flex-wrap: wrap;

        &-image:hover{
            scale: 1.3;
            transition: var(--transition-duration);
        }

        &-item--top-left{
            margin: 0 10px 7.5px 0;
        }

        &-item--top-right{
            margin: 0 0 7.5px 10px;
        }

        &-item--bottom-left{
            margin: 7.5px 10px 0 0;
        }

        &-item--bottom-right{
            margin: 7.5px 0 0 10px ;
        }
    }    

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

}