

.search{
    margin-top: 40px;
    margin-bottom: 440px;

    &__container {
        text-align: center;
    }

    &__input {
        width: 100%;
        max-width: 600px;   
        height: 40px;
        text-align: center;
        font-size: 24px;
        border-radius: 4px;
        border: none;
        outline: none;
    }
}
