.suit{
    @include flex-center(false);


    margin: 40px auto;
    max-width: 1200px;
    height: 600px;
    background: var(--color-dark);
    border-radius: var(--border-radius-btn);

    &__group{
        margin: 40px;
    }

    &__design{
        margin-bottom: 20px;
        width: 200px;
        height: 300px;
        background-color: var(--color-accent);

        &-header{
            @include flex-center;

            padding-top: 10px;
            width: 200px;
            height: 40px;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 300;
            color: #fff;
        }

        &-descriptor{
            @include flex-center;

            margin: 10px;
            font-size: 14px;
            color: var(--color-dark);
        }
    }

    &__functional{
        width: 200px;
        height: 200px;
        background-color: var(--color-main);

        &-header{
            @include flex-center;

            width: 200px;
            height: 40px;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 300;
            color: #fff;
        }

        &-list{
            margin-left: 20px;
            font-size: 14px;
            color: #475E69;
        }

        &-item{
            list-style: disc;

        }
    }

    &__symbolism{
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
        background-color: var(--color-main);

        &-header{
            @include flex-center;

            width: 200px;
            height: 40px;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 300;
            color: #fff;
        }

        &-list{
            margin-left: 30px;
            font-size: 14px;
            color: #475E69;
        }

        &-item{
            list-style: disc;
        }
    }

    &__technologies{
        width: 200px;
        height: 300px;
        background-color: var(--color-accent);

        &-header{
            @include flex-center;

            padding-top: 10px;
            width: 200px;
            height: 40px;
            font-size: 16px;
            letter-spacing: 1px;
            font-weight: 300;
            color: #fff;
        }

        &-descriptor{
            @include flex-center;

            line-height: 1.5;
            margin: 0 10px;
            font-size: 14px;
            color: var(--color-dark);
        }
    }

    &__img{
        @include flex-center;

        width: 632px;
        height: 520px;
        background-color: #596A80;
        border-radius: 2000px;
    }

    &__pict{
        width: 800px;
        height: 700px;
    }

    &__pict:hover{
        scale: 1.25;
        transition: var(--transition-duration);
    }
}