@import 'normalize',
        'fonts',
        'mixins',
        'media',
        'variables',
        'utils',
        'globals';

    @import 'blocks/search',
            'blocks/character',
            'blocks/modal';