@import 'normalize',
        'fonts',
        'mixins',
        'media',
        'variables',
        'utils',
        'globals';

    @import 
        'blocks/header',
        'blocks/screensaver',
        'blocks/space',
        'blocks/header_section',
        'blocks/cards',
        'blocks/button',
        'blocks/actors',
        'blocks/last_film',
        'blocks/key_actors',
        'blocks/footer',
        'blocks/scrollTop',
        'blocks/user';


