@charset "UTF-8";
/**
    Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
    Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
    Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
    Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
    Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
    Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
    Приводим к единому цвету svg-элементы
    (за исключением тех, у которых уже указан
    атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none])) {
  stroke: currentColor;
}

/**
    Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
    Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
    Удаляем все анимации и переходы для людей,
    которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-main: #1F2022;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-alt: #E1EBFB;
  --color-light-h: #BFCDD4;
  --color-accent: rgba(245, 1, 1, 0.5);
  --color-accent-light: #f50101;
  --color-grey: #475e69;
  --color-grey-alt: #333E44;
  --color-grey-light: #c4c4c4;
  --color-gold: #ffc942;
  --color-green: #21D789;
  --color-blue: #009BFF;
  --border-radius-menu-left: 10px 1000px 10px 1000px;
  --border-radius-menu-right: 1000px 10px 1000px 10px;
  --border-radius-keys: 4px;
  --border-radius-actor: 30px;
  --border-radius-btn: 8px;
  --border-radius-profile: 50px;
  --font-family-base: "Poppins", sans-serif;
  --font-family-rarely: "Montserrat", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 100px;
  --section-margin-y: 40px;
  --button-height-normal: 45px;
  --button-height-small: 33px;
  --transition-duration: 0.5s;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  scrollbar-color: #f50101 #000000;
}

body {
  font-size: clamp(14px, 1.6666666667vw, 24px);
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  background-color: var(--color-main);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  padding: 40px;
  height: 520px;
  border-radius: 40px;
  background-color: var(--color-dark);
}
.history__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history__group--top {
  width: 420px;
  height: 140px;
  margin-bottom: 40px;
}
.history__group--center {
  width: 390px;
  height: 140px;
  margin-bottom: 40px;
}
.history__group--bottom {
  margin-left: 40px;
  width: 390px;
  height: 80px;
}
.history__header--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
  width: 360px;
  height: 40px;
  background-color: var(--color-light-h);
}
.history__header--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  width: 360px;
  height: 40px;
  background-color: var(--color-light-h);
}
.history__header--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 40px;
  background-color: var(--color-light-h);
}
.history__header-content {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #475E69;
}
.history__descriptor--top {
  width: 360px;
  height: 100px;
  padding: 0 10px;
  background-color: var(--color-main);
}
.history__descriptor--center {
  margin-left: 20px;
  padding: 0 10px;
  width: 360px;
  height: 100px;
  background-color: var(--color-main);
}
.history__descriptor--bottom {
  margin-left: 30px;
  padding: 0 10px;
  width: 360px;
  height: 40px;
  line-height: 1.3;
  background-color: var(--color-main);
}
.history__descriptor-content {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-light);
}
.history__descriptor-content--bottom {
  padding-top: 0;
}
.history__around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  width: 350px;
  height: 350px;
  background-color: var(--color-light);
  border-radius: 2000px;
}
.history__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 400px;
  background-color: var(--color-light);
}
.history__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history__right .history__header--top {
  margin: 0;
}
.history__right .history__header--center {
  margin-left: 45px;
}
.history__right .history__header--bottom {
  margin-left: -10px;
}
.history__right .history__descriptor--top {
  margin-left: 60px;
}
.history__right .history__descriptor--center {
  margin-left: 10px;
}
.history__right .history__descriptor--bottom {
  margin-left: -40px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  width: 1000px;
  height: 200px;
  border-radius: var(--border-radius-btn);
  background: var(--color-dark);
}
.card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 40px;
  margin-right: 20px;
}
.card__body {
  margin: 30px 40px;
  margin-left: 20px;
  width: 700px;
  height: 140px;
  border-radius: 5px;
  background-color: rgba(245, 1, 1, 0.5);
}
.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  height: 40px;
}
.card__header-item {
  font-size: 24px;
  font-weight: 500;
  color: #BFCDD4;
}
.card__descriptor {
  width: 700px;
  height: 100px;
}
.card__descriptor-item {
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.suit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
  max-width: 1200px;
  height: 600px;
  background: var(--color-dark);
  border-radius: var(--border-radius-btn);
}
.suit__group {
  margin: 40px;
}
.suit__design {
  margin-bottom: 20px;
  width: 200px;
  height: 300px;
  background-color: var(--color-accent);
}
.suit__design-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
}
.suit__design-descriptor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  font-size: 14px;
  color: var(--color-dark);
}
.suit__functional {
  width: 200px;
  height: 200px;
  background-color: var(--color-main);
}
.suit__functional-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
}
.suit__functional-list {
  margin-left: 20px;
  font-size: 14px;
  color: #475E69;
}
.suit__functional-item {
  list-style: disc;
}
.suit__symbolism {
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  background-color: var(--color-main);
}
.suit__symbolism-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
}
.suit__symbolism-list {
  margin-left: 30px;
  font-size: 14px;
  color: #475E69;
}
.suit__symbolism-item {
  list-style: disc;
}
.suit__technologies {
  width: 200px;
  height: 300px;
  background-color: var(--color-accent);
}
.suit__technologies-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
}
.suit__technologies-descriptor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  margin: 0 10px;
  font-size: 14px;
  color: var(--color-dark);
}
.suit__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 632px;
  height: 520px;
  background-color: #596A80;
  border-radius: 2000px;
}
.suit__pict {
  width: 800px;
  height: 700px;
}
.suit__pict:hover {
  scale: 1.25;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

.enemies {
  margin-top: 40px;
}
.enemies__wrapper {
  background-color: var(--color-dark);
}
.enemies__first-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  margin-bottom: 50px;
  border-bottom: 5px solid #fff;
  background-color: black;
}
.enemies__second-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  margin-bottom: 50px;
  border-bottom: 5px solid #fff;
  background-color: black;
}
.enemies__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  background-color: rgba(245, 1, 1, 0.5);
}
.enemies__pict {
  margin: 20px 20px 0 20px;
  border-radius: 5px;
}
.enemies__pict:hover {
  scale: 1.15;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}
.enemies__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 200px;
  height: 80px;
  font-size: 24px;
  color: #BFCDD4;
}