@import 'normalize',
        'fonts',
        'mixins',
        'media',
        'variables',
        'utils',
        'globals';

@import
    'blocks/history',
    'blocks/familiar',
    'blocks/suit',
    'blocks/enemies';